Repository MTR-Today/mtr-today-api: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["import-sort --write", "prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"]
}

chore: setup pre commit
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: fix script
  package.json
Due: prettier --write

chore: fix script
  .husky/pre-push
Due: none

ci: setup test step
  .github/workflows/runTest.yml
  renovate.json
Due: prettier --write

chore: set engine property
  package.json
Due: prettier --write

chore: update package json
  package.json
Due: prettier --write

ci: add release flow
  .github/workflows/release.yml
Due: none

fix: trigger release
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

ci: fix variable
  .github/workflows/release.yml
Due: none

ci: workflow name
  .github/workflows/release.yml
Due: none

chore: trigger CI
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

ci: fix premission
  .github/workflows/release.yml
Due: none

ci: add back condition
  .github/workflows/release.yml
Due: none

ci: use dockerhub
  .github/workflows/release.yml
Due: none

build: fix run script
  Dockerfile
Due: none

build: fix expose port
  Dockerfile
Due: none

ci: update docker file
  Dockerfile
Due: none

build: use node next
  Dockerfile
  src/index.ts
  src/services/scheduleService.ts
  src/utils/convertTimeRecursive.ts
  src/worker.ts
  tsconfig.json
Due: import-sort --write, prettier --write, eslint --fix

feat: cors settings
  src/index.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: update renovate config
  renovate.json
Due: prettier --write

chore: strict tsconfig
  src/worker.ts
  tsconfig.build.json
  tsconfig.json
Due: import-sort --write, prettier --write, eslint --fix

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: update tsconfig
  tsconfig.json
Due: prettier --write

feat: line stop api
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/services/scheduleService.ts
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: code cleanup
  src/index.ts
Due: import-sort --write, prettier --write, eslint --fix

feat: fare api
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/services/fareServices.ts
  src/services/scheduleService.ts
Due: import-sort --write, prettier --write, eslint --fix

build: use rollup build
  package.json
  pnpm-lock.yaml
  rollup.config.js
Due: import-sort --write, prettier --write, eslint --fix

chore: remove tsc build config
  tsconfig.build.json
Due: prettier --write

refactor: use nest js
  .gitignore
  Dockerfile
  README.md
  nest-cli.json
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/index.ts
  src/main.ts
  src/modules/fares/fares.controller.ts
  src/modules/fares/fares.module.ts
  src/modules/fares/fares.service.ts
  src/modules/lines/lines.controller.ts
  src/modules/lines/lines.module.ts
  src/modules/schedules/schedules.controller.ts
  src/modules/schedules/schedules.module.ts
  src/modules/schedules/schedules.service.ts
  src/modules/stops/stops.controller.ts
  src/modules/stops/stops.module.ts
  src/services/scheduleService.ts
  tsconfig.build.json
  tsconfig.json
Due: import-sort --write, prettier --write, eslint --fix

fix: fares route path
  src/modules/fares/fares.controller.ts
Due: import-sort --write, prettier --write, eslint --fix

feat: stop line api
  package.json
  pnpm-lock.yaml
  src/modules/fares/fares.service.ts
  src/modules/lines/lines.controller.ts
  src/modules/schedules/schedules.service.ts
  src/modules/stops/stops.controller.ts
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

feat: update schedule item key
  src/modules/schedules/schedules.service.ts
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

feat: graphql api
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/main.ts
  src/modules/fares/fares.controller.ts
  src/modules/fares/fares.dto.ts
  src/modules/fares/fares.model.ts
  src/modules/fares/fares.module.ts
  src/modules/fares/fares.resolver.ts
  src/modules/fares/fares.service.ts
  src/modules/lines/lines.controller.ts
  src/modules/lines/lines.model.ts
  src/modules/lines/lines.module.ts
  src/modules/lines/lines.resolver.ts
  src/modules/lines/lines.service.ts
  src/modules/schedules/schedules.controller.ts
  src/modules/schedules/schedules.model.ts
  src/modules/schedules/schedules.module.ts
  src/modules/schedules/schedules.resolver.ts
  src/modules/schedules/schedules.service.ts
  src/modules/stops/stops.controller.ts
  src/modules/stops/stops.model.ts
  src/modules/stops/stops.module.ts
  src/modules/stops/stops.resolver.ts
  src/modules/stops/stops.service.ts
  src/utils/normalizeStopName.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: downgrade prettier
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: run lint
  .github/workflows/runTest.yml
Due: none

feat: data pagination
  src/constants/pagination.ts
  src/modules/fares/fares.controller.ts
  src/modules/fares/fares.resolver.ts
  src/modules/fares/fares.service.ts
  src/modules/lines/lines.controller.ts
  src/modules/lines/lines.dto.ts
  src/modules/lines/lines.resolver.ts
  src/modules/lines/lines.service.ts
  src/modules/schedules/schedules.controller.ts
  src/modules/schedules/schedules.dto.ts
  src/modules/schedules/schedules.resolver.ts
  src/modules/schedules/schedules.service.ts
  src/modules/stops/stops.controller.ts
  src/modules/stops/stops.dto.ts
  src/modules/stops/stops.resolver.ts
  src/modules/stops/stops.service.ts
Due: import-sort --write, prettier --write, eslint --fix

feat: remove pagination
  src/constants/pagination.ts
  src/modules/fares/fares.controller.ts
  src/modules/fares/fares.dto.ts
  src/modules/fares/fares.resolver.ts
  src/modules/lines/lines.controller.ts
  src/modules/lines/lines.dto.ts
  src/modules/lines/lines.resolver.ts
  src/modules/lines/lines.service.ts
  src/modules/schedules/schedules.controller.ts
  src/modules/schedules/schedules.dto.ts
  src/modules/schedules/schedules.resolver.ts
  src/modules/schedules/schedules.service.ts
  src/modules/stops/stops.controller.ts
  src/modules/stops/stops.dto.ts
  src/modules/stops/stops.resolver.ts
  src/modules/stops/stops.service.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: update dep
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix type
  src/app.module.ts
Due: import-sort --write, prettier --write, eslint --fix
