Repository MTR-Today/mtr-today-api: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, prettier --write, eslint --fix

chore: update dependency
  package.json
  pnpm-lock.yaml
  src/app.module.ts
Due: import-sort --write, prettier --write, eslint --fix

docs: swagger
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/modules/fares/fares.dto.ts
  src/modules/lines/lines.controller.ts
  src/modules/schedules/schedules.dto.ts
  src/modules/stops/stops.controller.ts
Due: import-sort --write, prettier --write, eslint --fix

feat: rate limit
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/guards/ThrottlerGuard.ts
Due: import-sort --write, prettier --write, eslint --fix

docs: create readme
  README.md
  docs/banner.png
Due: none

chore: update engine property
  package.json
Due: prettier --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

chore: fix type
  src/app.module.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: run prettier
  README.md
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: format code
  src/modules/schedules/schedules.service.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: upgrade husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

chore: update script
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix typo
  src/modules/stops/stops.service.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: remove corn type
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update anchor
  README.md
Due: none

chore: add ignore
  src/utils/convertTimeRecursive.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: upgrade pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: upgrade pnpm script
  .github/workflows/release.yml
  .github/workflows/runTest.yml
Due: none

chore: run pnpm upgrade
  pnpm-lock.yaml
Due: none

fix: try fix release
  .github/workflows/release.yml
Due: none

chore: revert release change
  .github/workflows/release.yml
Due: none

chore: update ci
  .github/workflows/release.yml
Due: none

chore: migrate to biome
  .eslintrc
  .github/workflows/runTest.yml
  .importsortrc
  .lintstagedrc.json
  .prettierrc.json
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/guards/ThrottlerGuard.ts
  src/main.ts
  src/modules/fares/fares.controller.ts
  src/modules/fares/fares.dto.ts
  src/modules/fares/fares.model.ts
  src/modules/fares/fares.module.ts
  src/modules/fares/fares.resolver.ts
  src/modules/fares/fares.service.ts
  src/modules/lines/lines.controller.ts
  src/modules/lines/lines.model.ts
  src/modules/lines/lines.module.ts
  src/modules/lines/lines.resolver.ts
  src/modules/lines/lines.service.ts
  src/modules/schedules/schedules.controller.ts
  src/modules/schedules/schedules.dto.ts
  src/modules/schedules/schedules.model.ts
  src/modules/schedules/schedules.module.ts
  src/modules/schedules/schedules.resolver.ts
  src/modules/schedules/schedules.service.ts
  src/modules/stops/stops.controller.ts
  src/modules/stops/stops.model.ts
  src/modules/stops/stops.module.ts
  src/modules/stops/stops.resolver.ts
  src/modules/stops/stops.service.ts
  src/utils/convertTimeRecursive.ts
  src/utils/normalizeStopName.ts
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: update renovate config
  renovate.json
Due: prettier --write

chore: remove eslint preset
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: biome linter
  biome.json
  pnpm-lock.yaml
  src/app.controller.ts
  src/app.module.ts
  src/modules/fares/fares.controller.ts
  src/modules/fares/fares.resolver.ts
  src/modules/fares/fares.service.ts
  src/modules/lines/lines.controller.ts
  src/modules/lines/lines.resolver.ts
  src/modules/lines/lines.service.ts
  src/modules/schedules/schedules.controller.ts
  src/modules/schedules/schedules.resolver.ts
  src/modules/schedules/schedules.service.ts
  src/modules/stops/stops.controller.ts
  src/modules/stops/stops.resolver.ts
  src/modules/stops/stops.service.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: biome respect git ignore
  biome.json
Due: prettier --write

ci: update test trigger
  .github/workflows/runTest.yml
Due: none

ci: update biome script
  .github/workflows/runTest.yml
Due: none

fix: throttle api call
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: update biome rule
  biome.json
  pnpm-workspace.yaml
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/guards/ThrottlerGuard.ts
  src/main.ts
  src/modules/fares/fares.controller.ts
  src/modules/fares/fares.dto.ts
  src/modules/fares/fares.model.ts
  src/modules/fares/fares.module.ts
  src/modules/fares/fares.resolver.ts
  src/modules/fares/fares.service.ts
  src/modules/lines/lines.controller.ts
  src/modules/lines/lines.model.ts
  src/modules/lines/lines.module.ts
  src/modules/lines/lines.resolver.ts
  src/modules/lines/lines.service.ts
  src/modules/schedules/schedules.controller.ts
  src/modules/schedules/schedules.dto.ts
  src/modules/schedules/schedules.model.ts
  src/modules/schedules/schedules.module.ts
  src/modules/schedules/schedules.resolver.ts
  src/modules/schedules/schedules.service.ts
  src/modules/stops/stops.controller.ts
  src/modules/stops/stops.model.ts
  src/modules/stops/stops.module.ts
  src/modules/stops/stops.resolver.ts
  src/modules/stops/stops.service.ts
  src/utils/convertTimeRecursive.ts
  src/utils/normalizeStopName.ts
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

chore: update biome rule
  biome.json
Due: prettier --write

chore: update pre commit
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: use shared config renovate
  .github/workflows/release.yml
  .github/workflows/runTest.yml
  renovate.json
Due: prettier --write

chore: update pre commit hook
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: remove docker tag
  Dockerfile
Due: none

Path conditions:
  import-sort --write: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.json)
  eslint --fix: any of: *.{ts,js}
