Repository MTR-Today/mtr-today-api: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["import-sort --write", "prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"]
}

chore: update renovate config
  renovate.json
Due: prettier --write

chore: use shared config commitlint
  .commitlintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: use shared config biome
  biome.json
  package.json
  pnpm-lock.yaml
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/guards/ThrottlerGuard.ts
  src/main.ts
  src/modules/fares/fares.controller.ts
  src/modules/fares/fares.dto.ts
  src/modules/fares/fares.model.ts
  src/modules/fares/fares.module.ts
  src/modules/fares/fares.resolver.ts
  src/modules/fares/fares.service.ts
  src/modules/lines/lines.controller.ts
  src/modules/lines/lines.model.ts
  src/modules/lines/lines.module.ts
  src/modules/lines/lines.resolver.ts
  src/modules/lines/lines.service.ts
  src/modules/schedules/schedules.controller.ts
  src/modules/schedules/schedules.dto.ts
  src/modules/schedules/schedules.model.ts
  src/modules/schedules/schedules.module.ts
  src/modules/schedules/schedules.resolver.ts
  src/modules/schedules/schedules.service.ts
  src/modules/stops/stops.controller.ts
  src/modules/stops/stops.model.ts
  src/modules/stops/stops.module.ts
  src/modules/stops/stops.resolver.ts
  src/modules/stops/stops.service.ts
  src/utils/convertTimeRecursive.ts
  src/utils/normalizeStopName.ts
  src/worker.ts
Due: import-sort --write, prettier --write, eslint --fix

fix: tsconfig
  pnpm-workspace.yaml
  tsconfig.build.tsbuildinfo
  tsconfig.json
  tsconfig.tsbuildinfo
Due: prettier --write

chore(tooling): pnpm 11
  package.json
  pnpm-workspace.yaml
Due: prettier --write

fix: string platform
  src/modules/schedules/schedules.model.ts
Due: import-sort --write, prettier --write, eslint --fix

fix: downgrade ts
  package.json
  pnpm-lock.yaml
  tsconfig.tsbuildinfo
Due: prettier --write

fix: downgrade ts
  tsconfig.build.tsbuildinfo
  tsconfig.tsbuildinfo
Due: none

fix: missing deps
  package.json
  pnpm-lock.yaml
  tsconfig.tsbuildinfo
Due: prettier --write

fix: remove plat casting
  src/worker.ts
  tsconfig.tsbuildinfo
Due: import-sort --write, prettier --write, eslint --fix
